*{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}


.header{
    color: #FFE710;
    font-size: xx-large;

}


.statement{
    margin-top: 5%;
    color: #FFE710;
    font-size: xx-large;
    text-align: center;
}


.planetInfo{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    color:#FFE710;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    list-style-type: disc;
    gap:2.5%
    
}

.libimg2{
    border-radius: 10px;
    box-shadow: 0 0 15px #FFE710, 0 0 15px #FFE710;
    width:18%;
    
    
}

.libimg1{
    border-radius: 10px;
    box-shadow: 0 0 15px #FFE710, 0 0 15px #FFE710;
    width: 47%;
    margin-left:5%;
}

.libimg3{
    border-radius: 10px;
    box-shadow: 0 0 15px #FFE710, 0 0 15px #FFE710;
    width:18%;
    margin-left:5%
}
