.imgcontainer{
    display: flex;
    margin-left: 5%;
    flex-direction: row;
}

.freedomflame{
    border-radius: 10px;
    box-shadow: 0 0 15px orange, 0 0 15px orange;
    width: 40%;
}

.freedomHeader{
    font-size: xx-large;
    color: orange;
    margin-bottom: 2%;
    margin-left: 15%;
}

.chemicalAgents{
    border-radius: 10px;
    box-shadow: 0 0 15px greenyellow, 0 0 15px greenyellow;
    width:40%;
    margin-left: 7.5%;
}

.chemicalHeader{
    font-size: xx-large;
    color: greenyellow;
    margin-bottom: 2%;
    margin-left: 35%;
    
}

.mobilizeHeader{
    font-size: xx-large;
    color: #FFE710;
    margin-bottom:2%;
    margin-left: 37%
}

.mobilize{
    border-radius: 10px;
    box-shadow: 0 0 15px #FFE710, 0 0 15px #FFE710;
    width: 40%;
    margin-left: 25%;
    margin-bottom: 2.5%;
}

.premium{
    font-size: 350%;
    color:#FFE710;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 28%;
}

.free{
    font-size: 350%;
    color:#FFE710;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 31%;
}


.forceHeader{
    color: blue;
    font-size: xx-large;
    margin-left: 15%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

.forceoflaw{
    height: 35em;
    width: 46em;
    box-shadow: 0 0 15px blue, 0 0 15px blue;
    border-radius: 10px;
}


.justiceHeader{
    font-size: xx-large;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    margin-left: 37%;
    color:burlywood;
}

.justice{
    border-radius: 10px;
    box-shadow: 0 0 15px burlywood, 0 0 15px burlywood;
    width: 40%;
    margin-left: 7.5%;
}


.polarHeader{
    font-size: xx-large;
    color: #AAD4E5;
    margin-top: 2.5%;
    margin-bottom:2.5%;
    margin-left: 38%;
}

.urbanHeader{
    font-size: xx-large;
    color: grey;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 14%;
}

.urban{
    box-shadow: 0 0 15px grey, 0 0 15px grey;
    border-radius: 10px;
    width: 40%;
}

.polar{
    box-shadow: 0 0 15px #AAD4E5, 0 0 15px #AAD4E5;
    border-radius: 10px;
    width: 40%;
    margin-left: 10%;
}

.steeledHeader{
    font-size: xx-large;
    color: orangered;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 13%;
}

.cuttingHeader{
    font-size: xx-large;
    color: aqua;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 40%;
}


.cuttingEdge{
    border-radius: 10px;
    box-shadow: 0 0 15px aqua, 0 0 15px aqua;
    margin-left: 10%;
}

.steeled{
    border-radius: 10px;
    box-shadow: 0 0 15px orangered, 0 0 15px orangered;
    width: 40%;
    
}

.truthHeader{
    font-size: xx-large;
    color: darkred;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 38%;
}

.viperHeader{
    font-size: xx-large;
    color: green;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 12%;
}


.viper{
    border-radius: 10px;
    box-shadow: 0 0 15px green, 0 0 15px green;
    height: auto;
    width: 40%;
}

.truth{
    border-radius: 10px;
    box-shadow: 0 0 15px darkred, 0 0 15px darkred;
    width: 41%;
    margin-left: 10%;
}


.demoHeader{
    font-size: xx-large;
    color: orange;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 10%;

}

.mastersHeader{
    font-size: xx-large;
    color:white;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 35%;
}


.demo{
    border-radius: 10px;
    box-shadow: 0 0 15px orange, 0 0 15px orange;
    width: 40%;
}

.masters{
    border-radius: 10px;
    box-shadow: 0 0 15px white, 0 0 15px white;
    width: 40%;
    margin-left: 10%;
}

.dustHeader{
    font-size: xx-large;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: burlywood;
    margin-left: 15%;
}

.controlHeader{
    font-size: xx-large;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: darkgray;
    margin-left: 40%;
}


.dust{
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 0 15px burlywood, 0 0 15px burlywood;
}

.control{
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 0 15px darkgray, 0 0 15px darkgray;
    margin-left: 10%;
}


.pythonHeader{
    font-size: xx-large;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: lightseagreen;
    margin-left: 14%;
}


.python{
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 0 15px lightseagreen, 0 0 15px lightseagreen;
    margin-left: 4.5%;
}


.comingSoon{
    font-size: xx-large;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: #FFE710;
    margin-left: 33%;
}