.imgcontainer{
    display: flex;
    margin-left: 5%;
    flex-direction: row;
}

.title{
    font-size: 350%;
    margin-left: -7%;
    color:#FFE710;
}

.freedomflame{
    border-radius: 10px;
    box-shadow: 0 0 15px orange, 0 0 15px orange;
    width: 40%;
}

.freedomHeader{
    font-size: xx-large;
    color: orange;
    margin-bottom: 2%;
    margin-left: 15%;
}

.chemicalAgents{
    border-radius: 10px;
    box-shadow: 0 0 15px greenyellow, 0 0 15px greenyellow;
    width:40%;
    margin-left: 7.5%;
}

.chemicalHeader{
    font-size: xx-large;
    color: greenyellow;
    margin-bottom: 2%;
    margin-left: 35%;
    
}

.mobilizeHeader{
    font-size: xx-large;
    color: #FFE710;
    margin-bottom:2%;
    margin-left: 37%
}

.mobilize{
    border-radius: 10px;
    width: 40%;
    margin-left: 27%;
    margin-bottom: 2.5%;
    position: relative;
    line-height: 0;
}


.mobilize img{
    width: 100%;
    height: auto;
    border-radius: 10px; /* Match the wrapper radius */
    display: block;
    position: relative;
    z-index: 2; /* Keeps image above the glow */
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.mobilize::after, .mobilize::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),#FFE710 ,white, #FFE710);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.mobilize::before{
    filter: blur(1.5rem);
    opacity: 0.5;

}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.premium{
    font-size: 350%;
    color:#FFE710;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 28%;
}

.free{
    font-size: 350%;
    color:#FFE710;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 31%;
}


.forceHeader{
    color: blue;
    font-size: xx-large;
    margin-left: 15%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

.forceoflaw{
    height: 35em;
    width: 46em;
    position: relative;
    border-radius: 10px;
    line-height: 0;
    margin-left: 5%;
}


.forceoflaw img{
    width:100%;
    height:100%;
    border-radius: 10px;
    display: block;
    position: relative;
    z-index: 2;
    
}

.forceoflaw::after, .forceoflaw::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),blue ,white, blue);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.forceoflaw::before{
    filter: blue(1.5rem);
    opacity: 0.5;
}



.justiceHeader{
    font-size: xx-large;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    margin-left: 37%;
    color:burlywood;
}

.justice{
    border-radius: 10px;
    box-shadow: 0 0 15px burlywood, 0 0 15px burlywood;
    width: 40%;
    margin-left: 7.5%;
}


.polarHeader{
    font-size: xx-large;
    color: #AAD4E5;
    margin-top: 2.5%;
    margin-bottom:2.5%;
    margin-left: 38%;
}

.urbanHeader{
    font-size: xx-large;
    color: grey;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 14%;
}

.urban{
    box-shadow: 0 0 15px grey, 0 0 15px grey;
    border-radius: 10px;
    width: 40%;
}

.polar{
    box-shadow: 0 0 15px #AAD4E5, 0 0 15px #AAD4E5;
    border-radius: 10px;
    width: 40%;
    margin-left: 10%;
}

.steeledHeader{
    font-size: xx-large;
    color: orangered;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 13%;
}

.cuttingHeader{
    font-size: xx-large;
    color: aqua;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 40%;
}


.cuttingEdge{
    border-radius: 10px;
    box-shadow: 0 0 15px aqua, 0 0 15px aqua;
    margin-left: 10%;
}

.steeled{
    border-radius: 10px;
    box-shadow: 0 0 15px orangered, 0 0 15px orangered;
    width: 40%;
    
}

.truthHeader{
    font-size: xx-large;
    color: darkred;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 38%;
}

.viperHeader{
    font-size: xx-large;
    color: green;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 12%;
}


.viper{
    border-radius: 10px;
    box-shadow: 0 0 15px green, 0 0 15px green;
    height: auto;
    width: 40%;
}

.truth{
    border-radius: 10px;
    box-shadow: 0 0 15px darkred, 0 0 15px darkred;
    width: 41%;
    margin-left: 10%;
}


.demoHeader{
    font-size: xx-large;
    color: orange;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 10%;

}

.mastersHeader{
    font-size: xx-large;
    color:white;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 35%;
}


.demo{
    border-radius: 10px;
    box-shadow: 0 0 15px orange, 0 0 15px orange;
    width: 40%;
}

.masters{
    border-radius: 10px;
    box-shadow: 0 0 15px white, 0 0 15px white;
    width: 40%;
    margin-left: 10%;
}

.dustHeader{
    font-size: xx-large;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: burlywood;
    margin-left: 15%;
}

.controlHeader{
    font-size: xx-large;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: darkgray;
    margin-left: 40%;
}


.dust{
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 0 15px burlywood, 0 0 15px burlywood;
}

.control{
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 0 15px darkgray, 0 0 15px darkgray;
    margin-left: 10%;
}


.pythonHeader{
    font-size: xx-large;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: lightseagreen;
    margin-left: 14%;
}


.python{
    border-radius: 10px;
    width: 40%;
    box-shadow: 0 0 15px lightseagreen, 0 0 15px lightseagreen;
    
}


.comingSoon{
    font-size: xx-large;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: #FFE710;
    margin-left: 33%;
}


.legend{
    font-size: 350%;
    color: gold;
    margin-top: 6%;
    margin-left: 27%;
}


.haloHeader{

    color:gold;
    font-size: xx-large;
    margin-top: 5%;
    margin-bottom: 2.5%;
    margin-left:43%;

}

@property --angle{
    syntax: "angle";
    initial-value: 0deg;
    inherits: false;
}

.killHeader{
    color:gold;
    font-size: xx-large;
    margin-top: 5%;
    margin-bottom: 2.5%;
    margin-left:18%;
}

.halo{

}

.killzone{

}