@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.imgcontainer{
    display: flex;
    margin-left: 5%;
    flex-direction: row;
}

.title{
    font-size: 350%;
    margin-left: -7%;
    color:#FFE710;
}

.freedomsflame{
    height: 35em;
    width: 46em;
    position: relative;
    border-radius: 10px;
    line-height: 0;
    
}

.freedomsflame img{
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Match the wrapper radius */
    display: block;
    position: relative;
    z-index: 2; /* Keeps image above the glow */
}

.freedomsflame::after, .freedomsflame::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),orange ,white, orange);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.freedomsflame::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

.freedomHeader{
    font-size: xx-large;
    color: orange;
    margin-bottom: 2%;
    margin-left: 13.5%;
}

.chemicalAgents{
    height: 35em;
    width: 46em;
    position: relative;
    border-radius: 10px;
    line-height: 0;
    margin-left: 10%;
}

.chemicalAgents img{
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Match the wrapper radius */
    display: block;
    position: relative;
    z-index: 2; /* Keeps image above the glow */
}

.chemicalAgents::after, .chemicalAgents::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),greenyellow ,white, greenyellow);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.chemicalAgents::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

.chemicalHeader{
    font-size: xx-large;
    color: greenyellow;
    margin-bottom: 2%;
    margin-left: 38%;
    
}

.mobilizeHeader{
    font-size: xx-large;
    color: #FFE710;
    margin-bottom:2%;
    margin-left: 37%
}

.mobilize{
    border-radius: 10px;
    width: 40%;
    margin-left: 27%;
    margin-bottom: 2.5%;
    position: relative;
    line-height: 0;
}

.mobilize img{
    width: 100%;
    height: auto;
    border-radius: 10px; /* Match the wrapper radius */
    display: block;
    position: relative;
    z-index: 2; /* Keeps image above the glow */
}

.mobilize::after, .mobilize::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),#FFE710 ,white, #FFE710);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.mobilize::before{
    filter: blur(1.5rem);
    opacity: 0.5;

}

.premium{
    font-size: 350%;
    color:#FFE710;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 28%;
}

.free{
    font-size: 350%;
    color:#FFE710;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 31%;
}

.forceHeader{
    color: blue;
    font-size: xx-large;
    margin-left: 15%;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

.forceoflaw{
    height: 35em;
    width: 46em;
    position: relative;
    border-radius: 10px;
    line-height: 0;
    margin-left: 5%;
}

.forceoflaw img{
    width:100%;
    height:100%;
    border-radius: 10px;
    display: block;
    position: relative;
    z-index: 2;
    
}

.forceoflaw::after, .forceoflaw::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),blue ,white, blue);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.forceoflaw::before{
    filter: blue(1.5rem);
    opacity: 0.5;
}

.justiceHeader{
    font-size: xx-large;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    margin-left: 40%;
    color:burlywood;
}

.justice{
    height: 35em;
    width: 46em;
    position: relative;
    border-radius: 10px;
    line-height: 0;
    margin-left: 54%;
    margin-top: -29.5%;
}

.justice img{
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Match the wrapper radius */
    display: block;
    position: relative;
    z-index: 2; /* Keeps image above the glow */    
}

.justice::after, .justice::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),burlywood ,white, burlywood);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.justice  ::before{
    filter: blue(1.5rem);
    opacity: 0.5;
}

.polarHeader{
    font-size: xx-large;
    color: #AAD4E5;
    margin-top: 2.5%;
    margin-bottom:2.5%;
    margin-left: 38%;
}

.urbanHeader{
    font-size: xx-large;
    color: grey;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 14%;
}

.urban{
    height: 35em;
    width: 46em;
    position: relative;
    border-radius: 10px;
    line-height: 0;
}

.urban img{
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Match the wrapper radius */
    display: block;
    position: relative;
    z-index: 2; /* Keeps image above the glow */  
}

.urban::after, .urban::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),grey ,white, grey);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.urban::before{
    filter: blue(1.5rem);
    opacity: 0.5;
}

.polar{
    height: 35em;
    width: 46em;
    position: relative;
    border-radius: 10px;
    line-height: 0;
    margin-left: 11%;
}

.polar img{
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Match the wrapper radius */
    display: block;
    position: relative;
    z-index: 2; /* Keeps image above the glow */ 
}

.polar::after, .polar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),#4b9cbc,white, #4b9cbc);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.polar::before{
    filter: blue(1.5rem);
    opacity: 0.5;
}

.steeledHeader{
    font-size: xx-large;
    color: orangered;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 13%;
}

.cuttingHeader{
    font-size: xx-large;
    color: aqua;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 40%;
}


.cuttingEdge{
    height: 35em;
    width: 46em;
    position: relative;
    border-radius: 10px;
    line-height: 0;
    margin-left: 10%;
}

.cuttingEdge img{
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Match the wrapper radius */
    display: block;
    position: relative;
    z-index: 2; /* Keeps image above the glow */ 
}

.cuttingEdge::after, .cuttingEdge::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),aqua,white, aqua);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.cuttingEdge::before{
    filter: blue(1.5rem);
    opacity: 0.5;
}

.steeled{
    height: 35em;
    width: 46em;
    position: relative;
    border-radius: 10px;
    line-height: 0;
}

.steeled img{ 
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Match the wrapper radius */
    display: block;
    position: relative;
    z-index: 2; /* Keeps image above the glow */ 
}

.steeled::after, .steeled::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),orangered,white, orangered);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.steeled::before{
    filter: blue(1.5rem);
    opacity: 0.5;
}

.truthHeader{
    font-size: xx-large;
    color: darkred;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 38%;
}

.viperHeader{
    font-size: xx-large;
    color: green;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 12%;
}

.viper{
    height: 35em;
    width: 46em;
    position: relative;
    border-radius: 10px;
    line-height: 0;
}

.viper img{
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Match the wrapper radius */
    display: block;
    position: relative;
    z-index: 2; /* Keeps image above the glow */ 
}

.viper::after, .viper::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),green,white, green);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.viper::before{
    filter: blue(1.5rem);
    opacity: 0.5;
}

.truth{
    height: 35em;
    width: 46em;
    position: relative;
    border-radius: 10px;
    line-height: 0;
    margin-left:10%;
}

.truth img{
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Match the wrapper radius */
    display: block;
    position: relative;
    z-index: 2; /* Keeps image above the glow */ 
}

.truth::after, .truth::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),darkred,white, darkred);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.truth::before{
    filter: blue(1.5rem);
    opacity: 0.5;
}

.demoHeader{
    font-size: xx-large;
    color: orange;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 10%;

}

.mastersHeader{
    font-size: xx-large;
    color:white;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 35%;
}

.demo{
    height: 35em;
    width: 46em;
    position: relative;
    border-radius: 10px;
    line-height: 0;
}

.demo img{
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Match the wrapper radius */
    display: block;
    position: relative;
    z-index: 2; /* Keeps image above the glow */ 
}

.demo::after, .demo::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle),orange,white, orange);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.demo::before{
    filter: blue(1.5rem);
    opacity: 0.5;
}

.masters{
    height: 35em;
    width: 46em;
    position: relative;
    border-radius: 10px;
    line-height: 0;
    margin-left: 10%;
}

.masters img{
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Match the wrapper radius */
    display: block;
    position: relative;
    z-index: 2; /* Keeps image above the glow */ 
}

.masters::after, .masters::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), lightyellow,white, lightblue);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.masters::before{
    filter: blue(1.5rem);
    opacity: 0.5;
}


.dustHeader{
    font-size: xx-large;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: burlywood;
    margin-left: 15%;
}

.controlHeader{
    font-size: xx-large;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: darkgray;
    margin-left: 40%;
}


.dust{
    height: 35em;
    width: 46em;
    position: relative;
    border-radius: 10px;
    line-height: 0;
}

.dust img{
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Match the wrapper radius */
    display: block;
    position: relative;
    z-index: 2; /* Keeps image above the glow */ 
}

.dust::after, .masters::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), burlywood,white, burlywood);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.dust::before{
    filter: blue(1.5rem);
    opacity: 0.5;
}

.control{
    height: 35em;
    width: 46em;
    position: relative;
    border-radius: 10px;
    line-height: 0;
    margin-left: 10%;
}

.control img{
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Match the wrapper radius */
    display: block;
    position: relative;
    z-index: 2; /* Keeps image above the glow */ 
}

.control::after, .control::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), darkgray,white, darkgray);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.control::before{
    filter: blue(1.5rem);
    opacity: 0.5;
}

.pythonHeader{
    font-size: xx-large;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: lightseagreen;
    margin-left: 14%;
}


.python{
    height: 35em;
    width: 46em;
    position: relative;
    border-radius: 10px;
    line-height: 0;
}

.python img{
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Match the wrapper radius */
    display: block;
    position: relative;
    z-index: 2; /* Keeps image above the glow */ 
}

.python::after, .pytohn::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), lightseagreen,white, lightseagreen);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.python::before{
    filter: blue(1.5rem);
    opacity: 0.5;
}

.comingSoon{
    font-size: xx-large;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: #FFE710;
    margin-left: 33%;
}

.legend{
    font-size: 350%;
    color: gold;
    margin-top: 6%;
    margin-left: 27%;
}

.haloHeader{

    color:gold;
    font-size: xx-large;
    margin-top: 5%;
    margin-bottom: 2.5%;
    margin-left:43%;

}

.killHeader{
    color:gold;
    font-size: xx-large;
    margin-top: 5%;
    margin-bottom: 2.5%;
    margin-left:18%;
}

.halo{
    height: 35em;
    width: 46em;
    position: relative;
    border-radius: 10px;
    line-height: 0;
    margin-left: 10%;
}

.halo img{
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Match the wrapper radius */
    display: block;
    position: relative;
    z-index: 2; /* Keeps image above the glow */ 
}

.halo::after, .halo::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), blue,white, gold, white);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.halo::before{
    filter: blue(1.5rem);
    opacity: 0.5;
}

.killzone{
    height: 35em;
    width: 46em;
    position: relative;
    border-radius: 10px;
    line-height: 0;
}

.killzone img{
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Match the wrapper radius */
    display: block;
    position: relative;
    z-index: 2; /* Keeps image above the glow */ 
}

.killzone::after, .killzone::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), red,white, red, white);
    top: 50%;
    left:50%;
    translate: -50% -50%;
    z-index: 1;
    padding: 4px;
    border-radius: 14px;
    animation: 3s spin linear infinite;
}

.killzone::before{
    filter: blue(1.5rem);
    opacity: 0.5;
}



