.container{
    display: flex;
    justify-content: center;
    text-align: center;
}


.link{
    border-radius: 10px;
    background-color: black;
    color:#FFE710;
    margin-top: 2%;
    font-size: xx-large;
    padding: 10px;
    text-decoration: none;
    box-shadow: 0 0 15px #FFE710, 0 0 15px #FFE710;
}