* {
  box-sizing: border-box;  
}

body{
    margin:0;
}

.site-title{
      font: 2rem;
      text-decoration: none;
}

.nav{
    
    background-color: black;
    color: #FFE710;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    box-shadow: 0 0 15px #FFE710, 0 0 15px #FFE710;
}

.nav ul{
    padding:0;
    margin:0;
    list-style: none;
    display:flex;
    gap:1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height:100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}



.nav li:hover{
    background-color: grey;
}

.nav li.active{
    background-color:blue;
}


.icon{

    height: 30px;
    width: 30px;
}